body{
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    font-family: "Quicksand", sans-serif;
    color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: white;
}

#container {
    text-align: center;
    padding: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#unicornImg, #rabbitImg{
    width: 20%;
    margin-bottom: 20px;
    border-radius: 10px;
    display: none;
}

#dialogueBox{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    max-width: 80%;
    margin: 0 auto;
    display: none;
}

#nextButton,#restartButton{
    display: none;
}

button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
}